<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h4>Autor</h4>
    <p>Marina San Segundo</p>
	<img src="/images/caritafeliz.png"/>
  </body>
</html>
